*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
  }

body{
    margin: 0;
    padding: 0;

  }



.log{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
    font-weight: bold;
}
 .logo{
    height: 75px;
    width: 150px;
 }
.rowrow{
    height: 90%;
    width: 500px;
    border-radius: 20px;
}



input.userword{
    font-size: 18px;
    font-weight: 700;
    border: none;
    outline: none;
    border-bottom: black solid 1px;
    width: 100%;
    padding-top: 12px;
    background-color: white;
}

.Signup{
    color: #3fa9f5;
}

.New{
    padding-bottom: 30px;
    padding-top: 12px;
}
.col{
    background-color: white;
    border-radius: 15px;
}

.btn{
    font-weight: bold;
    font-size: 18px;
}

#solve{
    height:100vh ;
}

.navbtn{
    margin-left:50px ;
    margin-right:50px ;
    width:97px; 
}