*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    background-size: 100% 200%;
    animation: gradient-animation 18s ease infinite;
    width: auto;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.Sigh{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
    font-weight: bold;
}
 .logo{
    height: 100px;
    width: 400px;
}

.rowrow{
    height: 90%;
    width: 600px;
    border-radius: 20px;
}

input.userword{
    font-size: 18px;
    font-weight: 700;
    border: none;
    outline: none;
    border-bottom: black solid 1px;
    width: 100%;
    padding-top: 12px;
    background-color: white;
}

.Signup{
    color: #3fa9f5;
}

.New{
    padding-bottom: 30px;
    padding-top: 12px;
}

.colcol{
    background-color: white;
    border-radius: 15px;
}

.btn{
    font-weight: bold;
    font-size: 18px;
}

#solve{
    height:100vh ;
}

.navbtn{
    margin-left:50px ;
    margin-right:50px ;
    width: 98px;
}