*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    background-size: 100% 200%;
    animation: gradient-animation 18s ease infinite;
    width: auto;
  }

  .navbar-logo{
    background: linear-gradient(135deg , rgba(255,255,255,0.1),  rgba(255,255,255,0));
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
    padding: 10px;
    margin:0px; 
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18) ;
    box-shadow: 0px 8px 32px 0 rgba(0,0,0,0.37);
  }
  .clubLogo{
    width: 90px ;
    height: 50px;
}

.Sigh{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
    font-weight: bold;
}
 .logo{
    height: 100px;
    width: 400px;
}

.rowrow{
    height: 90%;
    width: 600px;
    border-radius: 20px;
}

input.userword{
    font-size: 18px;
    font-weight: 700;
    border: none;
    outline: none;
    border-bottom: black solid 1px;
    width: 100%;
    padding-top: 12px;
    background-color: white;
}

.Signup{
    color: #3fa9f5;
}

.New{
    padding-bottom: 30px;
    padding-top: 12px;
}

.colcol{
    background-color: white;
    border-radius: 15px;
}

.btn{
    font-weight: bold;
    font-size: 18px;
}

#solve{
    height:100vh ;
}

.navbtn{
    margin-left:50px ;
    margin-right:50px ;
    width: 98px;
}